{% extends "base/base.html" %}
{% block content %}
<div class='wrapper'>
    <main>
      <section>
            <a class="nav-item nav-link" href="{% url 'base-about' %}">About</a>
         
        </section>
     <section>
        <a class="nav-item nav-link" href="{% url 'base-art' %}">My art</a>
    </section>
          <section>
            <a class="nav-item nav-link" href="{% url 'base-portfolio' %}">My portfolio</a>
        </section>
        <section>
            <a class="nav-item nav-link" href="{% url 'base-contact' %}">Contact</a>
        </section>
    </main>
  </div>
  {% endblock content %}